node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
dist
.vscode/
*.log
coverage/
.idea/
build/
.tmp/
.cache/
data/*.sqlite
data/*.sqlite-journal
data/*.sqlite-wal
data/*.sqlite-shm
downloads/
